# Terraform specific
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
*.terraform.lock.*
tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore crash log files
crash.log
crash.*.log

# Ignore CLI configuration files
.terraformrc
terraform.rc
